body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.green {
  color: #14a44d;
}
.red {
  color: #dc4c64;
}
.logo {
  width: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

#search {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 10px;
  border: 2px solid #14a44d;
  outline: none;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
}

input::placeholder {
  color: #14a44d;
  opacity: 1;
}

input,
textarea {
  background-color: white;
}

.user {
  width: 40px;
}
.navbar {
  font-weight: 600;
}
#about {
  color: #14a44d;
}
#other {
  color: lightgray;
}
.navbar-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-section {
  padding: 0 30px;
}
hr{
  border: 2px solid grey;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.second-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-img{
  width: 200px;
  height: 200px;
}
.product {
  border: 2px solid #14a44d;
  border-radius: 30px;
  padding: 20px;
}
.info-container{
  text-align: center;
}
.title-name{
  font-weight: 700;
}
.price-color{
  color: #14a44d;
  margin: 0;
  padding: 0;
}